.ftd {
  width: 316px;
  height: 300px;
  margin-top: 20%;
}
.car {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: black !important;
}
.carousel-indicators .active {
  background-color: #52a933 !important;
}
.wrect {
  height: 400px;
  width: 279px;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
.brand {
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 48px;
  font-weight: 700;
  font-size: 36px;
}
.groc {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.get {
  background: linear-gradient(90deg, #52a933 24.74%, #62d23a 83.62%) !important;
  border-radius: 50px !important;
  width: 320px;
  height: 54px;
}
.get a {
  color: white;
  text-decoration: none;
}
.log-t {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}
.top-l {
  width: 56px;
  height: 55px;
}
.logo-div {
  justify-content: right;
}
#input {
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  height: 50px;
  border-radius: 50px;
  border-color: #62d23a;
}
.log-btn {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #52a933 24.74%, #62d23a 83.62%) !important;
  border-radius: 50px !important;
  width: 320px;
  height: 54px;
}
.log-btn a {
  color: white;
  text-decoration: none;
}
.indi {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707280;
  text-align: left;
}
.indi2 {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707280;
}
.google {
  width: 320px;
  height: 54px;
  border-radius: 50px !important;
  background-color: #dadbdb;
  margin-left: auto;
  margin-right: auto;
}
.g-logo {
  width: 20px;
  height: 20px;
}
.cont-g {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
#digit {
  border-radius: 45%;
  height: 50px;
  width: 60px;
  border-color: #62d23a;
}
.resend {
  color: #62d23a;
}
.code {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.lftd {
  width: 110px;
  height: 110px;
}
.set-loc {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
#current {
  border-style: solid;
  border-width: thin;
  width: 335px;
  height: 50px;
  border-color: #62d23a;
  border-radius: 50px;
  color: #52a933;
}
.gps {
  width: 14px;
  height: 20px;
}
.inside {
  align-items: baseline;
  justify-items: baseline;
  justify-content: baseline;
}
#pop {
  width: 335px;
  height: 50px;
  border-radius: 50px;
}
.dang {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.email-fp {
  margin-top: 40px;
}
.home-lg {
  width: 70px;
  height: 65px;
}
.groc {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
body {
  background-color: #f6f7f9 !important;
}
.srch {
  width: 273px !important;
  height: 50px;
  border-radius: 10px !important;
  font-family: Helvetica;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19px;
}
.kili {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}
.arrow {
  height: 13px;
  width: 10px;
}
.filter:active {
  transform: translateY(4px);
}
.strawberry {
  width: 136px;
  height: 97px;
}
.product-name {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.product {
  width: 160px;
  height: 226px;
  border-radius: 20px;
}
.type {
  color: #707280;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.price {
  color: #52a933;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.cart {
  height: 40px;
  width: 40px;
}
.avacado {
  height: 90px;
  width: 90px;
}
.brocolli {
  width: 119px;
  height: 97px;
}
.orange {
  width: 112px;
  height: 97px;
}
.tomato {
  width: 103px;
  height: 97px;
}
.green-beans {
  width: 117px;
  height: 97px;
}
.dropdown-toggles {
  padding: 0px !important;
  border: none !important;
  margin: 0px !important;
  background-color: #f6f7f9 !important;
  width: 50px !important;
  margin-right: 20px !important;
}
.dropdown-toggles img {
  height: 50px;
  width: 50px;
}
.dropdown-toggles::after {
  padding: 0px !important;
  margin: 0px !important;
  display: none !important;
  border: none !important;
}
.my-home {
  width: 20px;
  height: 18px;
}
.nav-t {
  text-align: center;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c5c5ca !important;
}
.my-cart {
  width: 26px;
  height: 19px;
}
#nav {
  display: flex !important;
  justify-content: space-around !important;
  border-radius: 9px !important;
}
.my-order {
  width: 17px;
  height: 19px;
}
.my-offer {
  width: 20px;
  height: 20px;
}
.my-settings {
  width: 20px;
  height: 19px;
}
.dropdown-menu {
  width: 196px !important;
  background-color: #52a933 !important;
}
.item:hover {
  background-color: #62d23a !important;
}
.item {
  color: white !important;
}
#nav-bar {
  border-radius: 9px !important;
}
.cont-nav {
  border-radius: 9px !important;
}
.food-tog {
  border: none !important;
  background-color: #52a933 !important;
  padding: 1px !important;
}
.food-tog:hover {
  background-color: #62d23a !important;
}
.welcome {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707280;
}
.uname {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #222649;
}
.dp {
  width: 50px;
  height: 50px;
}
.p-list {
  width: 32px;
  height: 32px;
}
.ps-list {
  width: 85vw;
}
.pl-name {
  font-family: Helvetica;
  font-weight: 500;
  color: #707280;
  font-size: 16px;
}
.pl-price {
  color: #52a933;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px;
}
.item2 {
  border-radius: 10px;
}
.home-s {
  padding-bottom: 80px;
}
.back {
  width: 44px;
  height: 44px;
}
.top {
  max-width: 100vw;
  height: 270px;
  margin-bottom: 90px;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
}
.orange-d {
  width: 311px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}
.fruit-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #222649;
}
.star {
  width: 120px;
  height: 21px;
}
.five {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #c5c5ca;
}
.contr {
  width: 30px;
  height: 30px;
}
.count {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #222649;
}
.descrip {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #222649;
}
.descri-t {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707280;
}
.more {
  color: #fa9930;
}
.explore {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #52a933;
}
.cart-g {
  background-color: #52a933;
  height: 100vh;
}
.back-g {
  width: 44px;
  height: 44px;
}
.cart-t {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.the-cart {
  background-color: #f6f7f9 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100vh;
}
.cart-b {
  width: 102px;
  height: 38px;
  background-color: white;
  border-radius: 50px !important;
}
.cart-b:active {
  background-color: #52a933 !important;
  color: white !important;
}
.cart-b:hover {
  background-color: #52a933 !important;
  color: white !important;
}
.cart-i {
  width: 80px;
  height: 75px;
}
.item-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #222649;
}
.item-price {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #52a933;
}
.size {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #707280;
}
.add-note {
  width: 16px;
  height: 16px;
}
.add-t {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #52a933;
}
.delete {
  width: 20px;
  height: 20px;
}
.hr {
  width: 335px;
}
.checkout {
  width: 320px;
  height: 54px;
  text-decoration: none !important;
  background: linear-gradient(90deg, #52a933 24.74%, #62d23a 83.62%);
  border-radius: 50px !important;
  color: white !important;
}
.li-out {
  text-decoration: none;
  color: white !important;
}
.cart-link {
  text-decoration: none !important;
}
.fin {
  margin-top: -100px;
}
.check-s {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cart-tot {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fa9930;
}
.sub-tot {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222649;
}
.sub-price {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #707280;
}
.sub-price-l {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fa9930;
}
.top-mod {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #fa9930;
}
.young {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #222649;
}
.pd {
  border-radius: 50px;
  width: 295px;
  height: 50px;
  border-color: #fa9930 !important;
  border-style: solid;
  border-width: thin;
}
.btn-pd {
  width: 147px;
  height: 50px;
  border-radius: 50px !important;
}
.mod-active {
  background-color: #fa9930 !important;
  width: 147px;
  height: 50px;
  border-radius: 50px !important;
  color: white !important;
}
.time {
  width: 16.67px;
  height: 16.67px;
}
.input-add {
  border-radius: 50px !important;
  height: 50px;
  border-color: #fa9930 !important;
  width: 295px !important;
}
.pay-inp {
  width: 335px !important;
  height: 49px;
  border-radius: 50px !important;
}
.pay-inp2 {
  width: 160px !important;
  height: 49px;
  border-radius: 50px !important;
}
@media (max-width: 400px) {
  .label {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #222649;
  }
  .the-pay {
    background-color: #f6f7f9 !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100vh;
  }
  .key {
    /* Donation ammount : */
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #222649;
  }
  .value {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #707280;
    margin-left: 40px;
  }
  .b-stat {
    height: 38px;
    background-color: #52a933 !important;
    border-radius: 50px !important;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff !important;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .check {
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  .hline {
    position: absolute;
    margin-top: 27px;
    margin-left: -15px;
    z-index: 0;
    height: 70px;
  }
  .pro-t {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #222649;
  }
  .other {
    /* Your order #23456 was placed for delivery. */
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707280;
  }
  .o-time {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #222649;
  }
  .img-ch {
    margin-top: -2px;
  }
  .map {
    background-image: url(../img/map.png);
    background-size: cover;
    height: 100vh;
    margin-bottom: 50px;
  }
  .customer {
    position: absolute;
    top: 600px;
    left: 10%;
    width: 335px;
    height: 101px;
    background: #141735;
    border-radius: 20px;
  }
  .cust-p {
    width: 60px;
    height: 60px;
    background: #c4c4c4;
    box-shadow: 4px 8px 20px rgba(120, 171, 165, 0.1);
    border-radius: 50px;
  }
  .c-name {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    letter-spacing: 0.2px;

    color: #ffffff;
  }
  .c-no {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .call {
    width: 50px;
    height: 50px;
  }
  .b-friday {
    width: 335px;
    height: 180px;
    background-color: #222649;
    border-radius: 20px;
    color: white;
  }
  .bf-text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  .check-now {
    /* Other colour/Secondary */
    background: #fa9930 !important;
    border-radius: 50px !important;
    width: 115px;
    height: 36px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff !important;
  }
  .pumpkin {
    /* image */
    width: 137px;
    height: 157px;
  }
  .avail {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #52a933;
    text-align: center;
  }
  .tomato-o {
    width: 335px;
    height: 180px;
    background-color: #52a933;
    border-radius: 20px;
    color: white;
  }
  .pumpkin-p {
    width: 84px;
    height: 97px;
  }
  .balloon {
    width: 97px;
    height: 97px;
  }
  .banana-o {
    width: 91px;
    height: 113px;
  }
  .lamp {
    width: 60.65px;
    height: 97px;
  }
  .choco {
    width: 133px;
    height: 97px;
  }
}
