.ftd {
  width: 316px;
  height: 300px;
  margin-top: 20%;
}
.car {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #ccc;
}
.carousel-indicators .active {
  background-color: white !important;
}
.wrect {
  height: 400px;
  width: 279px;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
.brand {
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 48px;
  font-weight: 700;
  font-size: 36px;
}
.groc {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
#get {
  background: linear-gradient(90deg, #52a933 24.74%, #62d23a 83.62%) !important;
  border-radius: 50px;
  width: 320px;
  height: 54px;
  color: white;
}
