.ftd {
  width: 316px;
  height: 300px;
  margin-top: 20%;
}
.car {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: black !important;
}
.carousel-indicators .active {
  background-color: #52a933 !important;
}
.wrect {
  height: 400px;
  width: 279px;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
.brand {
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 48px;
  font-weight: 700;
  font-size: 36px;
}
.groc {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.get {
  background: linear-gradient(90deg, #52a933 24.74%, #62d23a 83.62%) !important;
  border-radius: 50px !important;
  width: 320px;
  height: 54px;
}
.get a {
  color: white;
  text-decoration: none;
}
.log-t {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}
.top-l {
  width: 56px;
  height: 55px;
}
.logo-div {
  justify-content: right;
}
#input {
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  height: 50px;
  border-radius: 50px;
  border-color: #62d23a;
}
.log-btn {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #52a933 24.74%, #62d23a 83.62%) !important;
  border-radius: 50px !important;
  width: 320px;
  height: 54px;
}
.log-btn a {
  color: white;
  text-decoration: none;
}
.indi {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707280;
  text-align: left;
}
.indi2 {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707280;
}
.google {
  width: 320px;
  height: 54px;
  border-radius: 50px !important;
  background-color: #dadbdb;
  margin-left: auto;
  margin-right: auto;
}
.g-logo {
  width: 20px;
  height: 20px;
}
.cont-g {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
#digit {
  border-radius: 45%;
  height: 50px;
  width: 60px;
  border-color: #62d23a;
}
.resend {
  color: #62d23a;
}
.code {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.lftd {
  width: 110px;
  height: 110px;
}
.set-loc {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
#current {
  border-style: solid;
  border-width: thin;
  width: 335px;
  height: 50px;
  border-color: #62d23a;
  border-radius: 50px;
  color: #52a933;
}
.gps {
  width: 14px;
  height: 20px;
}
.inside {
  align-items: baseline;
  justify-items: baseline;
  justify-content: baseline;
}
#pop {
  width: 335px;
  height: 50px;
  border-radius: 50px;
}
.dang {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.email-fp {
  margin-top: 40px;
}
.home-lg {
  width: 70px;
  height: 65px;
}
.groc {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
body {
  background-color: #f6f7f9 !important;
}
.srch {
  width: 273px !important;
  height: 50px;
  border-radius: 10px !important;
  font-family: Helvetica;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19px;
}
.kili {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}
.arrow {
  height: 13px;
  width: 10px;
}
.filter:active {
  transform: translateY(4px);
}
.strawberry {
  width: 136px;
  height: 97px;
}
.product-name {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.product {
  width: 160px;
  height: 226px;
  border-radius: 20px;
}
.type {
  color: #707280;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.price {
  color: #52a933;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.cart {
  height: 40px;
  width: 40px;
}
.avacado {
  height: 90px;
  width: 90px;
}
.brocolli {
  width: 119px;
  height: 97px;
}
.orange {
  width: 112px;
  height: 97px;
}
.tomato {
  width: 103px;
  height: 97px;
}
.green-beans {
  width: 117px;
  height: 97px;
}
.dropdown-toggles {
  padding: 0px !important;
  border: none !important;
  margin: 0px !important;
  background-color: #f6f7f9 !important;
  width: 50px !important;
  margin-right: 20px !important;
}
.dropdown-toggles img {
  height: 50px;
  width: 50px;
}
.dropdown-toggles::after {
  padding: 0px !important;
  margin: 0px !important;
  display: none !important;
  border: none !important;
}
.my-home {
  width: 20px;
  height: 18px;
}
.nav-t {
  text-align: center;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.my-cart {
  width: 26px;
  height: 19px;
}
#nav {
  display: flex !important;
  justify-content: space-around !important;
  border-radius: 9px !important;
}
.my-order {
  width: 17px;
  height: 19px;
}
.my-offer {
  width: 20px;
  height: 20px;
}
.my-settings {
  width: 20px;
  height: 19px;
}
.dropdown-menu {
  width: 196px !important;
  background-color: #52a933 !important;
}
.item:hover {
  background-color: #62d23a !important;
}
.item {
  color: white !important;
}
#nav-bar {
  border-radius: 9px !important;
}
.cont-nav {
  border-radius: 9px !important;
}
.food-tog {
  border: none !important;
  background-color: #52a933 !important;
  padding: 1px !important;
}
.food-tog:hover {
  background-color: #62d23a !important;
}
.welcome {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707280;
}
.uname {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #222649;
}
.dp {
  width: 50px;
  height: 50px;
}
.p-list {
  width: 32px;
  height: 32px;
}
.ps-list {
  width: 85vw;
}
.pl-name {
  font-family: Helvetica;
  font-weight: 500;
  color: #707280;
  font-size: 16px;
}
.pl-price {
  color: #52a933;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px;
}
.item2 {
  border-radius: 10px;
}
.home-s {
  padding-bottom: 80px;
}
